<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <link rel="stylesheet" href="/css/calendar.css">
    <script src="/js/ko.global.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        var rList =[[${rList}]];
    </script>
    <link rel="stylesheet" href="/css/calendar.css" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: rList, // rList 데이터를 이용하여 캘린더에 이벤트 추가
            locale: 'ko',
            eventClick: function (info) {
                openModal('eventDetailModal');
                var event = info.event;
                if (info.el.classList.contains('fc-button')) {
                    return;
                }

                document.getElementById('eventDetailTitle').textContent = event.title;
                document.getElementById('eventDetailStart').textContent = event.startStr;
                document.getElementById('eventDetailEnd').textContent = event.endStr;
                document.getElementById('eventDetailDescription').textContent = event.extendedProps.description;

                currentEvent = event;
            },
            dateClick: function (info) {
                openModal('eventModal');
                document.getElementById('eventName').value = '';
                document.getElementById('eventDate').value = info.dateStr;
                document.getElementById('eventEndDate').value = '';
                document.getElementById('eventDescription').value = '';
                currentEvent = null;
            }
        });

        calendar.render();

        var currentEvent = null;
        var currentModal = null;

        function openModal(modalId) {
            var modal = document.getElementById(modalId);
            if (currentModal) {
                currentModal.style.display = 'none';
            }
            // modal.style.display = 'block';
            modal.style.display = 'flex';
            currentModal = modal;
        }

        var closeModalButton = document.getElementById('closeModal');
        var closeDetailModalButton = document.getElementById('closeDetailModal');


        document.getElementById('closeModal');
        var editEventButton = document.getElementById('editEvent');
        var deleteEventButton = document.getElementById('deleteEvent');

        closeModalButton.addEventListener('click', function () {
            if (currentModal) {
                currentModal.style.display = 'none';
            }
            document.getElementById('eventForm').reset();
        });

        closeDetailModalButton.addEventListener('click', function () { // closeDetailModal 버튼 클릭 이벤트 핸들러 추가
            if (currentModal) {
                currentModal.style.display = 'none';
            }
        });

        window.addEventListener('click', function (event) {
            if (event.target === currentModal) {
                currentModal.style.display = 'none';
                document.getElementById('eventForm').reset();
            }
        });

        editEventButton.addEventListener('click', function () {
            if (currentEvent) {
                openModal('eventModal');
                document.getElementById('eventName').value = currentEvent.title;
                document.getElementById('eventDate').value = currentEvent.startStr;
                document.getElementById('eventEndDate').value = currentEvent.endStr;
                document.getElementById('eventDescription').value = currentEvent.extendedProps.description;
            }
        });

        deleteEventButton.addEventListener('click', function () {
            if (currentEvent) {
                var calendarSeq = currentEvent.extendedProps.calendarSeq;
                $.ajax({
                    url: "/calendar/calendarDelete",
                    type: "post",
                    dataType: "JSON",
                    data: {"calendarSeq": calendarSeq},
                    success: function (json) {
                        alert(json.msg);
                        location.href = "/calendar/info";
                    }
                });
                currentEvent.remove();
                currentModal.style.display = 'none';
            }
        });

        document.getElementById('eventForm').addEventListener('submit', function (event) {
            event.preventDefault();

            var eventName = document.getElementById('eventName').value;
            var eventDate = document.getElementById('eventDate').value;
            var eventEndDate = document.getElementById('eventEndDate').value;
            var eventDescription = document.getElementById('eventDescription').value;

            if (currentEvent) {
                updateEvent(currentEvent.extendedProps.calendarSeq, eventName, eventDate, eventEndDate, eventDescription);
            } else {
                insertEvent(eventName, eventDate, eventEndDate, eventDescription);
            }

            if (currentModal) {
                currentModal.style.display = 'none';
            }
            document.getElementById('eventForm').reset();
        });

        function insertEvent(eventName, eventDate, eventEndDate, eventDescription) {
            $.ajax({
                url: "/calendar/calendarInsert",
                type: "post",
                dataType: "JSON",
                data: {
                    title: eventName,
                    start: eventDate,
                    end: eventEndDate,
                    description: eventDescription
                },
                success: function (json) {
                    alert(json.msg);
                    location.href = "/calendar/info";

                    var calendarSeq = json.calendarSeq;
                    calendar.addEvent({
                        calendarSeq: calendarSeq,
                        title: eventName,
                        start: eventDate,
                        end: eventEndDate,
                        extendedProps: {
                            description: eventDescription
                        }
                    });
                }
            });
        }

        function updateEvent(calendarSeq, eventName, eventDate, eventEndDate, eventDescription) {
            $.ajax({
                url: "/calendar/calendarUpdate",
                type: "post",
                dataType: "JSON",
                data: {
                    "calendarSeq": calendarSeq,
                    title: eventName,
                    start: eventDate,
                    end: eventEndDate,
                    description: eventDescription
                },
                success: function (json) {
                    alert(json.msg);
                    location.href = "/calendar/info";
                }
            });

            currentEvent.setProp('title', eventName);
            currentEvent.setStart(eventDate);
            currentEvent.setEnd(eventEndDate);
            currentEvent.setExtendedProp('description', eventDescription);
        }

    });


</script>
<body>
<div id="eventModal" class="modal">
         <div class="modal-content">
             <h2 id="aa">일정 추가</h2>
                <form id="eventForm">
                    <label for="eventName">일정명:</label>
                    <input type="text" id="eventName" name="eventName"><br>
                    <label for="eventDate">일정 시작 날짜:</label>
                    <input type="date" id="eventDate" name="eventDate"><br>
                    <label for="eventEndDate">일정 종료 날짜:</label>
                    <input type="date" id="eventEndDate" name="eventEndDate"><br>
                    <label for="eventDescription">일정 설명:</label>
                    <textarea id="eventDescription" name="eventDescription"></textarea><br>
                    <button type="submit">저장</button>
                    <button id="closeModal" type="button">닫기</button>
                </form>
          </div>
    </div>
    <div id="eventDetailModal" class="modal">
         <div class="modal-content">
             <h2>일정 상세 정보 및 수정</h2>
             <p><strong>일정 제목:</strong> <span id="eventDetailTitle"></span></p>
             <p><strong>시작 일자:</strong> <span id="eventDetailStart"></span></p>
             <p><strong>끝 일자:</strong> <span id="eventDetailEnd"></span></p>
             <p><strong>일정 설명:</strong> <span id="eventDetailDescription"></span></p>
             <button id="editEvent" class="btn btn-primary">수정</button>
             <button id="deleteEvent" class="btn btn-danger">삭제</button>
             <button id="closeDetailModal" type="button">닫기</button>
         </div>
    </div>

    <div id="calendar"></div>

</body>
</html>
