<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/resetPassword.css">
    <title>비밀번호 재설정</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#newPasswordForm").submit(function (event) {
                event.preventDefault();
                var password = $("#password").val();
                var password2 = $("#password2").val();

                // 비밀번호가 일치하는지 확인
                if (password !== password2) {
                    alert("입력한 비밀번호가 일치하지 않습니다.");
                    return;
                }
                var formData = $(this).serialize();
                $.ajax({
                    url: "/user/newPasswordProc",
                    type: "post",
                    dataType: "json",
                    data: formData,
                    success: function (json) {
                        if (json !== null && json !== undefined) {
                            if (json.msg === "success") {
                                alert("비밀번호가 재설정되었습니다.");
                                window.location.href = "/user/login"; // 로그인 페이지로 이동
                            } else {
                                alert("서버 오류: 비밀번호를 재설정할 수 없습니다.");
                            }
                        } else {
                            alert("서버로부터 응답을 받지 못했습니다.");
                        }
                    },
                    error: function () {
                        alert("서버 요청 중 오류가 발생했습니다.");
                    }
                });

            });
        });
    </script>
</head>
<body class="text-center">
<main class="form-signin">
    <form id="newPasswordForm">
        <h1 class="h3 mb-3 fw-normal">비밀번호 재설정</h1>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호">
            <label></label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password2" name="password2" placeholder="새 비밀번호 재입력">
            <label></label>
        </div>
        <button id="btnSearch" class="w-100 btn btn-lg btn-primary" type="submit">비밀번호 재설정</button>
    </form>
    <div>
        <a href="/user/login">로그인</a>
        <a href="/user/findId">아이디 찾기</a>
    </div>
</main>

</body>
</html>